* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	height: 100vh;
	width: 100vw;
}
.header {
	background-image: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-title {
	font-size: 36px;
}
.wrapper {
	height: 90vh;
	width: 35vw;
	display: inline-block;
	vertical-align: top;
}
.section-production, .section-cars, .section-description, .section-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}
.section-img {
	display: inline-block;
	width: 65vw;
	height: 90vh;
	margin-left: -5px;
	background-image: url(https://st.motortrend.com/uploads/sites/10/2017/12/2018-BMW-M5-front-three-quarter-09.jpg);
	background-size: cover;
}
.section-production {
	height: 10vh;
}
.section-cars {
	height: 20vh;
}
.section-description {
	height: 50vh;
	margin-top: -1px;
	font-size: 24px;
	font-style: italic;
	overflow: auto;
}
.section-price {
	height: 10vh;
}
.section-cars {
	background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
}
.section-description {
	background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}
.section-price {
	background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
}
.selectpicker {
	outline: none;
	font-size: 20px;
	vertical-align: middle;
}
.price {
	font-size: 24px;
}
.hide {
	display: none;
}